body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    .heading {
        font-size: 64px;
        text-align: center;
    }

    .container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        
        .section {
            @media only screen and (max-width: 991px) {
                flex-basis: calc(50% - 44px);
            }

            @media only screen and (max-width: 767px) {
                flex-basis: 100%;
            }

            &.one {
                .label {
                    background-color: pink;
                }
            }

            &.two {
                .label {
                    background-color: lightblue;
                }
            }

            &.three {
                .label {
                    background-color: lightgreen;
                }
            }

            background-color: beige;
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: calc(100% / 3 - 44px);
            flex-direction: column;
            margin: 20px;
            height: 200px;
            border: 2px solid black;

            .label {
                text-align: center;
                border-left: 2px solid black;
                border-bottom: 2px solid black;
                width: 30%;
                align-self: flex-end;
            }

            .description {
                margin: 12px;
            }
        }
    }
}